In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('hmeq.csv')

In [3]:
df.shape

(5960, 13)

- BAD: 1 = applicant defaulted on loan or seriously delinquent; 0 = applicant paid loan
- LOAN: Amount of the loan request
- MORTDUE: Amount due on existing mortgage
- VALUE: Value of current property
- REASON: DebtCon = debt consolidation; HomeImp = home improvement
- JOB: Occupational categories
- YOJ: Years at present job
- DEROG: Number of major derogatory reports
- DELINQ: Number of delinquent credit lines
- CLAGE: Age of oldest credit line in months
- NINQ: Number of recent credit inquiries
- CLNO: Number of credit lines
- DEBTINC: Debt-to-income ratio

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
BAD,5960.0,0.199497,0.399656,0.000000,0.000000,0.000000,0.000000,1.000000
LOAN,5960.0,18607.969799,11207.480417,1100.000000,11100.000000,16300.000000,23300.000000,89900.000000
MORTDUE,5442.0,73760.817200,44457.609458,2063.000000,46276.000000,65019.000000,91488.000000,399550.000000
VALUE,5848.0,101776.048741,57385.775334,8000.000000,66075.500000,89235.500000,119824.250000,855909.000000
YOJ,5445.0,8.922268,7.573982,0.000000,3.000000,7.000000,13.000000,41.000000
DEROG,5252.0,0.254570,0.846047,0.000000,0.000000,0.000000,0.000000,10.000000
DELINQ,5380.0,0.449442,1.127266,0.000000,0.000000,0.000000,0.000000,15.000000
CLAGE,5652.0,179.766275,85.810092,0.000000,115.116702,173.466667,231.562278,1168.233561
NINQ,5450.0,1.186055,1.728675,0.000000,0.000000,1.000000,2.000000,17.000000
CLNO,5738.0,21.296096,10.138933,0.000000,15.000000,20.000000,26.000000,71.000000
DEBTINC,4693.0,33.779915,8.601746,0.524499,29.140031,34.818262,39.003141,203.312149

In [5]:
cols = df.columns

In [6]:
for c in cols : 
    print(c + '  -  '+str(df[c].isna().sum()) + '/'+str(df.shape[0]))

BAD  -  0/5960
LOAN  -  0/5960
MORTDUE  -  518/5960
VALUE  -  112/5960
REASON  -  252/5960
JOB  -  279/5960
YOJ  -  515/5960
DEROG  -  708/5960
DELINQ  -  580/5960
CLAGE  -  308/5960
NINQ  -  510/5960
CLNO  -  222/5960
DEBTINC  -  1267/5960

#### REASON: DebtCon = debt consolidation; HomeImp = home improvement

In [7]:
df['REASON'] = df['REASON'].fillna('other')

#### JOB

In [8]:
df['JOB'].unique()

array(['Other', nan, 'Office', 'Sales', 'Mgr', 'ProfExe', 'Self'],
      dtype=object)

In [9]:
df['JOB'] = df['JOB'].fillna('Unknown')

#### MORTDUE

In [10]:
mean_0 = df[df['BAD'] == 0]['MORTDUE'].mean()

In [11]:
df[df['BAD'] == 0]['MORTDUE'].describe().T

count      4359.000000
mean      74829.249055
std       43584.993587
min        2619.000000
25%       47484.000000
50%       66839.000000
75%       93068.000000
max      371003.000000
Name: MORTDUE, dtype: float64

In [12]:
mean_1 =df[df['BAD'] == 1]['MORTDUE'].mean()

In [13]:
df[df['BAD'] == 1]['MORTDUE'].describe().T

count      1083.000000
mean      69460.452973
std       47588.194467
min        2063.000000
25%       39946.500000
50%       60279.000000
75%       85864.500000
max      399550.000000
Name: MORTDUE, dtype: float64

In [14]:
###df["MORTDUE"] = df.groupby("BAD").transform(lambda x: x.fillna(x.mean()))

def replace_by_mean(row, mean1, mean0, column) : 
    if np.isnan(row[column]) : 
        if row['BAD'] == 1 : 
            return mean1
        else : 
            return mean0 
    return row[column]

In [15]:
df['MORTDUE'] = df.apply(lambda row: replace_by_mean(row, mean1=mean_1, mean0 = mean_0, column='MORTDUE'), axis=1)

#### VALUE

In [16]:
mean_0 = df[df['BAD'] == 0]['VALUE'].mean()

In [17]:
df[df['BAD'] == 0]['VALUE'].describe().T

count      4764.000000
mean     102595.921018
std       52748.392952
min        8000.000000
25%       67297.750000
50%       90659.000000
75%      120615.500000
max      471827.000000
Name: VALUE, dtype: float64

In [18]:
mean_1 =df[df['BAD'] == 1]['VALUE'].mean()

In [19]:
df[df['BAD'] == 1]['VALUE'].describe().T

count      1084.000000
mean      98172.846227
std       74339.822506
min        8800.000000
25%       59368.250000
50%       82000.000000
75%      116000.000000
max      855909.000000
Name: VALUE, dtype: float64

In [20]:
df['VALUE'] = df.apply(lambda row: replace_by_mean(row, mean1=mean_1, mean0 = mean_0, column='VALUE'), axis=1)

#### YOG

In [21]:
df['YOJ'].describe()

count    5445.000000
mean        8.922268
std         7.573982
min         0.000000
25%         3.000000
50%         7.000000
75%        13.000000
max        41.000000
Name: YOJ, dtype: float64

In [22]:
median_0 = df[df['BAD'] == 0]['YOJ'].median()

In [23]:
median_1 = df[df['BAD'] == 1]['YOJ'].median()

In [24]:
df['YOJ'] = df.apply(lambda row: replace_by_mean(row, mean1=median_1, mean0 = median_0, column='YOJ'), axis=1)

#### DEROG : Number of major derogatory reports

In [25]:
df['DEROG'].describe()

count    5252.000000
mean        0.254570
std         0.846047
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max        10.000000
Name: DEROG, dtype: float64

In [26]:
round(df[df['BAD'] == 0]['DEROG'].mean()) # .13 without round

0

In [27]:
round(df[df['BAD'] == 1]['DEROG'].mean()) # 0.7 wihtout round

1

In [28]:
df[df['BAD'] == 1]['DEROG'].describe()

count    1102.000000
mean        0.707804
std         1.468381
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max        10.000000
Name: DEROG, dtype: float64

In [29]:
df[df['BAD'] == 0]['DEROG'].describe()

count    4150.000000
mean        0.134217
std         0.514490
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         6.000000
Name: DEROG, dtype: float64

In [30]:
df[df['BAD'] == 0]['DEROG'].median()

0.0

In [31]:
df[df['BAD'] == 1]['DEROG'].median()

0.0

On met tout à 0 ou on arrondie les moyennes ? 🤔

In [32]:
df['DEROG'] = df['DEROG'].fillna(0)

#### DELINQ : Number of delinquent credit lines, what to do ?

In [33]:
df[df['BAD'] == 0]['DELINQ'].describe()

count    4263.000000
mean        0.245133
std         0.674124
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         5.000000
Name: DELINQ, dtype: float64

In [34]:
df[df['BAD'] == 1]['DELINQ'].describe()

count    1117.000000
mean        1.229185
std         1.902961
min         0.000000
25%         0.000000
50%         0.000000
75%         2.000000
max        15.000000
Name: DELINQ, dtype: float64

In [35]:
mean_1 = round(df[df['BAD'] == 1]['DELINQ'].mean())

In [36]:
mean_0 = round(df[df['BAD'] == 0]['DELINQ'].mean())

In [37]:
df['DELINQ'] = df.apply(lambda row: replace_by_mean(row, mean1=mean_1, mean0 = mean_0, column='DELINQ'), axis=1)

In [38]:
for c in cols : 
    print(c + '  -  '+str(df[c].isna().sum()) + '/'+str(df.shape[0]))

BAD  -  0/5960
LOAN  -  0/5960
MORTDUE  -  0/5960
VALUE  -  0/5960
REASON  -  0/5960
JOB  -  0/5960
YOJ  -  0/5960
DEROG  -  0/5960
DELINQ  -  0/5960
CLAGE  -  308/5960
NINQ  -  510/5960
CLNO  -  222/5960
DEBTINC  -  1267/5960

#### CLAGE: Age of oldest credit line in months

In [39]:
df['CLAGE'].describe()

count    5652.000000
mean      179.766275
std        85.810092
min         0.000000
25%       115.116702
50%       173.466667
75%       231.562278
max      1168.233561
Name: CLAGE, dtype: float64

In [40]:
df[df['BAD'] == 1]['CLAGE'].describe()

count    1111.000000
mean      150.190183
std        84.952286
min         0.000000
25%        96.033333
50%       132.866667
75%       193.283333
max      1168.233561
Name: CLAGE, dtype: float64

In [41]:
df[df['BAD'] == 0]['CLAGE'].describe()

count    4541.000000
mean      187.002355
std        84.465217
min         0.486711
25%       120.219885
50%       180.415787
75%       240.157802
max       649.747104
Name: CLAGE, dtype: float64

In [42]:
mean_1 = df[df['BAD'] == 1]['CLAGE'].mean()

In [43]:
mean_0 = df[df['BAD'] == 0]['CLAGE'].mean()

In [44]:
df['CLAGE'] = df.apply(lambda row: replace_by_mean(row, mean1=mean_1, mean0 = mean_0, column='CLAGE'), axis=1)

#### NINQ: Number of recent credit inquiries

In [45]:
for c in cols : 
    print(c + '  -  '+str(df[c].isna().sum()) + '/'+str(df.shape[0]))

BAD  -  0/5960
LOAN  -  0/5960
MORTDUE  -  0/5960
VALUE  -  0/5960
REASON  -  0/5960
JOB  -  0/5960
YOJ  -  0/5960
DEROG  -  0/5960
DELINQ  -  0/5960
CLAGE  -  0/5960
NINQ  -  510/5960
CLNO  -  222/5960
DEBTINC  -  1267/5960

In [46]:
df['NINQ'].unique()

array([ 1.,  0., nan,  2.,  3.,  5., 14., 10.,  4.,  9.,  8.,  6.,  7.,
       11., 12., 17., 13.])

In [47]:
df['NINQ'].describe()

count    5450.000000
mean        1.186055
std         1.728675
min         0.000000
25%         0.000000
50%         1.000000
75%         2.000000
max        17.000000
Name: NINQ, dtype: float64

In [48]:
df[df['BAD'] == 1]['NINQ'].describe()

count    1114.000000
mean        1.782765
std         2.246976
min         0.000000
25%         0.000000
50%         1.000000
75%         3.000000
max        17.000000
Name: NINQ, dtype: float64

In [49]:
df[df['BAD'] == 0]['NINQ'].describe()

count    4336.000000
mean        1.032749
std         1.531322
min         0.000000
25%         0.000000
50%         1.000000
75%         2.000000
max        11.000000
Name: NINQ, dtype: float64

J'hesite entre des arrondies des moyennes ou la mediane aka 1 partout

In [50]:
mean_0 = round(df[df['BAD'] == 0]['NINQ'].mean())

In [51]:
mean_1 = round(df[df['BAD'] == 1]['NINQ'].mean())

In [52]:
df['NINQ'] = df.apply(lambda row: replace_by_mean(row, mean1=mean_1, mean0 = mean_0, column='NINQ'), axis=1)

#### CLNO: Number of credit lines

In [53]:
df['CLNO'].unique()

array([ 9., 14., 10., nan,  8., 17., 12., 13., 25., 24., 16., 22.,  0.,
        4., 21., 19., 45., 26., 37.,  3.,  2., 27., 20.,  7., 36., 33.,
        6., 28., 11., 31., 15., 18., 23.,  5., 30., 34., 42., 50., 47.,
       32., 29., 46., 38., 40., 49., 43., 35.,  1., 56., 39., 51., 55.,
       65., 57., 41., 71., 48., 53., 64., 52., 63., 44., 58.])

In [54]:
df['CLNO'].describe()

count    5738.000000
mean       21.296096
std        10.138933
min         0.000000
25%        15.000000
50%        20.000000
75%        26.000000
max        71.000000
Name: CLNO, dtype: float64

In [55]:
df[df['BAD'] == 0]['CLNO'].describe()

count    4602.000000
mean       21.317036
std         9.682601
min         0.000000
25%        15.000000
50%        20.000000
75%        26.000000
max        56.000000
Name: CLNO, dtype: float64

In [56]:
df[df['BAD'] == 1]['CLNO'].describe()

count    1136.000000
mean       21.211268
std        11.812981
min         0.000000
25%        13.000000
50%        20.000000
75%        28.000000
max        71.000000
Name: CLNO, dtype: float64

c'est la meme partout, let's keep it simple

In [57]:
df['CLNO'] = df['CLNO'].fillna(20)

#### là ca va etre la merde un peu imo

DEBTINC: Debt-to-income ratio

In [58]:
df['DEBTINC'].describe()

count    4693.000000
mean       33.779915
std         8.601746
min         0.524499
25%        29.140031
50%        34.818262
75%        39.003141
max       203.312149
Name: DEBTINC, dtype: float64

In [59]:
distinct_job = df['JOB'].unique()

In [60]:
distinct_job

array(['Other', 'Unknown', 'Office', 'Sales', 'Mgr', 'ProfExe', 'Self'],
      dtype=object)

In [61]:
mean_per_job = {}
for i in distinct_job : 
    mean_per_job[i] = df[df['JOB'] == i]['DEBTINC'].mean()
    print(i)
    print()
    print(df[df['JOB'] == i]['DEBTINC'].describe())

Other

count    1839.000000
mean       34.241852
std         7.547649
min         1.028931
25%        29.742754
50%        35.247328
75%        39.366478
max       133.528270
Name: DEBTINC, dtype: float64
Unknown

count    234.000000
mean      27.611806
std        9.806384
min        0.720295
25%       23.544869
50%       30.311902
75%       34.411741
max       44.751572
Name: DEBTINC, dtype: float64
Office

count    789.000000
mean      34.330619
std        7.340354
min       12.153521
25%       30.999236
50%       36.158718
75%       39.389909
max       67.324904
Name: DEBTINC, dtype: float64
Sales

count     79.000000
mean      37.534481
std       20.143720
min       21.945849
25%       31.865983
50%       35.764058
75%       40.311828
max      203.312149
Name: DEBTINC, dtype: float64
Mgr

count    586.000000
mean      35.277869
std        6.622675
min        0.524499
25%       30.963902
50%       35.661118
75%       39.654203
max       72.264093
Name: DEBTINC, dtype: float64
ProfExe

count    1024.000000
mean       32.540668
std         8.445066
min         5.762995
25%        27.107976
50%        33.378041
75%        37.995630
max       144.189001
Name: DEBTINC, dtype: float64
Self

count    142.000000
mean      35.568006
std       15.375748
min        3.016141
25%       26.889053
50%       34.830194
75%       40.140774
max      143.949605
Name: DEBTINC, dtype: float64

In [62]:
mean_per_job

{'Other': 34.2418519992031,
 'Unknown': 27.6118060898859,
 'Office': 34.33061863141572,
 'Sales': 37.53448099079746,
 'Mgr': 35.277868630982084,
 'ProfExe': 32.54066828329834,
 'Self': 35.56800592723521}

In [63]:
def fill_debt_to_income(row, mean_dict) : 
    if np.isnan(row['DEBTINC']) : 
        return mean_dict[row['JOB']]
    else : 
        return row['DEBTINC']

In [64]:
df['DEBTINC'] = df.apply(lambda row: fill_debt_to_income(row, mean_dict=mean_per_job), axis=1)

In [65]:
for c in cols : 
    print(c + '  -  '+str(df[c].isna().sum()) + '/'+str(df.shape[0]))

BAD  -  0/5960
LOAN  -  0/5960
MORTDUE  -  0/5960
VALUE  -  0/5960
REASON  -  0/5960
JOB  -  0/5960
YOJ  -  0/5960
DEROG  -  0/5960
DELINQ  -  0/5960
CLAGE  -  0/5960
NINQ  -  0/5960
CLNO  -  0/5960
DEBTINC  -  0/5960

In [66]:
df = pd.get_dummies(df, columns=['REASON'])

In [67]:
df = pd.get_dummies(df, columns=['JOB'])

In [68]:
df.to_csv('cleaned.csv', index=False)