- BAD: 1 = applicant defaulted on loan or seriously delinquent; 0 = applicant paid loan
- LOAN: Amount of the loan request
- MORTDUE: Amount due on existing mortgage
- VALUE: Value of current property
- REASON: DebtCon = debt consolidation; HomeImp = home improvement
- JOB: Occupational categories
- YOJ: Years at present job
- DEROG: Number of major derogatory reports
- DELINQ: Number of delinquent credit lines
- CLAGE: Age of oldest credit line in months
- NINQ: Number of recent credit inquiries
- CLNO: Number of credit lines
- DEBTINC: Debt-to-income ratio

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
quant = ['LOAN','MORTDUE', 'VALUE',  ]

In [2]:
df = pd.read_csv('cleaned.csv')

In [3]:
df.shape

(5960, 13)

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
BAD,5960.0,0.199497,0.399656,0.000000,0.00000,0.000000,0.000000,1.000000
LOAN,5960.0,18607.969799,11207.480417,1100.000000,11100.00000,16300.000000,23300.000000,89900.000000
MORTDUE,5960.0,73758.192253,42486.196090,2063.000000,48139.00000,69460.452973,88200.250000,399550.000000
VALUE,5960.0,101713.532440,56845.916331,8000.000000,66489.50000,90000.000000,119004.750000,855909.000000
YOJ,5960.0,8.745260,7.262805,0.000000,3.00000,7.000000,12.000000,41.000000
DEROG,5960.0,0.224329,0.798458,0.000000,0.00000,0.000000,0.000000,10.000000
DELINQ,5960.0,0.417785,1.080244,0.000000,0.00000,0.000000,0.000000,15.000000
CLAGE,5960.0,179.658450,83.643553,0.000000,117.37143,175.615849,227.143058,1168.233561
NINQ,5960.0,1.182718,1.656326,0.000000,0.00000,1.000000,2.000000,17.000000
CLNO,5960.0,21.247819,9.951308,0.000000,15.00000,20.000000,26.000000,71.000000
DEBTINC,5960.0,33.817880,7.668335,0.524499,30.50740,34.241852,37.949892,203.312149

In [6]:
cols = df.columns
for c in cols : 
    print(c + '  -  '+str(df[c].isna().sum()) + '/'+str(df.shape[0]))

BAD  -  0/5960
LOAN  -  0/5960
MORTDUE  -  0/5960
VALUE  -  0/5960
REASON  -  0/5960
JOB  -  0/5960
YOJ  -  0/5960
DEROG  -  0/5960
DELINQ  -  0/5960
CLAGE  -  0/5960
NINQ  -  0/5960
CLNO  -  0/5960
DEBTINC  -  0/5960